* {
    font-family: Tahoma, sans-serif;
    border: 0;
    padding: 0;
    margin: 0;
    color: #fff0f3;
}

body {
    display: flex;
    justify-content: center;
}

#calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin: 10px;
    padding: 50px;
    background-color: #590d22;
    gap: 30px;
    width: 400px;
    height: 700px;
}

#display {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    width: 380px;
    height: 150px;
    background-color: #ffb3c1;
    border-radius: 10px;
    font-size: 80px;
}

button {
    border-radius: 10px;
    width: 80px;
    height: 100px;
    font-size: 40px;
}

#buttons {
    display: flex;
    gap: 30px;
}

#digits {
    display: flex;
    flex-flow: row wrap-reverse;
}

#operators {
    display: flex;
    flex-direction: column;
}

#digits, #operators {
    display: flex;
    gap: 10px;
}

#digits button {
    background-color: #800f2f;
}

#operators button {
    background-color: #a4133c;
}

#digits button:hover {
    background-color: #c9184a;
}

#operators button:hover {
    background-color: #ff4d6d;
}

#digits button:active {
    background-color: #ff758f;
}

#operators button:focus {
    background-color: #ff8fa3;
}