* {
    font-family: Tahoma, sans-serif;
    color: #fff0f3;
    border: 0;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
}

#calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #590d22;
    width: 400px;
    height: 700px;
    margin: 10px;
    padding: 50px;
    border-radius: 10px;
    gap: 30px;
}

#display {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #ff4d6d;
    width: 380px;
    height: 150px;
    padding: 10px;
    border-radius: 10px;
    font-size: 80px;
}

button {
    width: 80px;
    height: 100px;
    border-radius: 10px;
    font-size: 40px;
}

#buttons {
    display: flex;
    gap: 30px;
}

#digits {
    display: flex;
    flex-flow: row wrap-reverse;
}

#operators {
    display: flex;
    flex-direction: column;
}

#digits, #operators {
    display: flex;
    gap: 10px;
}

.special {
    background-color: #c9184a;
}

button.special:hover {
    background-color: #ffb3c1;
}

button.special:active {
    background-color: #ffccd5;
}

button.digit {
    background-color: #800f2f;
}

button.operator {
    background-color: #a4133c;
}

button.digit:hover {
    background-color: #ff758f;
}

button.operator:hover {
    background-color: #ff8fa3;
}

button.digit:active {
    background-color: #ffccd5;
}

button.operator:focus  {
    background-color: #ffccd5;
}

.zero {
   width: 170px; 
}